html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

.el-message-box__wrapper {
  overflow: auto;
}
.el-message-box {
  width: 50%;
}

.tablastreaming table,  .tablastreaming tbody, .tablastreaming th, .tablastreaming tr, .tablastreaming td {
  background: black;
}


@media (max-width: 767px) {
.el-dialog {
  width: 90%
}
.el-message-box {
  width: 90%;
}
}
